/* Wrapper for the entire feed */
.feed-container {
    max-width: 60%; /* Maximum width of the feed */
    margin: 0 auto; /* Center the feed horizontally */
    padding: 20px;
    border-radius: 8px;
  }

  .feed-container h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}
  
  /* Posts are spaced evenly */
  .feed {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Add space between posts */
  }
  
  /* Individual post wrapper */
  .post-wrapper {
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
  }

  .post-wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(14, 249, 104, 1);
}

  
  /* Center align the action buttons */
  .action-buttons {
    margin-bottom: 20px;
  }

  .create-post{
    background-color: #0ef968;
    border: 1px solid black;
    border-radius: 25px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px
  }

  .create-post:hover{
    background-color: yellow;
    color: black;
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

.viewport-header {
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }