img{
width: 25px;
height: 25px;
}

img:hover{
    cursor: pointer;
}

.add-comment {
    padding: 5px 5px;
    margin-bottom: 5px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #0ef968;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-comment:hover {
    background-color: yellow;
}

.post-comment {
    padding: 5px 5px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #0ef968;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-comment:hover {
    background-color: yellow;
    
}

.comment-container{
    border: 1px solid black;
    margin: 5px auto;
    border-radius: 8px;
}