.edit-delete-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid grey;
    margin-top: 5px;
}

.text-click:hover{
    background-color: #0ef968;
    border-radius: 2px;
    cursor: pointer;
}

.text-click-delete:hover{
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
}

.comment-data{
    width:95%;
    background-color: white;
    border: none;
    text-align: center;
}


.author-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    width: 100%;
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}

.author-container:hover{
    transform: translateY(5px); 
    box-shadow: 0 6px 12px rgba(14, 249, 104, 1);
}

.author-image{
    border-radius: 50%;
    border: 1px solid black;
    margin: 3px auto;
}
.comment-author{
    margin: 3px auto;
    cursor: pointer;
}