button {
    padding: 8px 12px;
    margin: 5px;
    background-color: #0ef968;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
    transform: scale(1.05);

}