.post{
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.post article{
    margin-bottom: 10px;
}

.like-comment-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 8px;
}

.like {
    flex: 1;
}

.comment {
    flex: 1;
}

.author-delete-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
}


.author-delete-container:hover{
    transform: translateY(5px); 
    box-shadow: 0 6px 12px rgba(255, 255, 0, 1);
}

.post-data{
    width:80%;
    background-color: white;
    border: none;
    text-align: center;
}

.author{
    cursor: pointer;
}

.text-click-delete:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

.post-image{ 
    max-width: 500px;
    max-height: 400px;
    width: auto;
    height: auto 
}

.post-author-pic{
    border-radius: 50%;
    border: 1px solid black;
}