.post{
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
}

.post article{
    margin-bottom: 10px;
}

.like-comment-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-top: 1px solid grey;
    padding-top: 8px;
}

.like {
    flex: 1;
}

.comment {
    flex: 1;
}

.author-delete-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

.post-data{
    width:80%;
    background-color: white;
    border: none;
    text-align: center;
}

.author{
    cursor: pointer;
}

.author:hover{
    background-color: yellow;
    border-radius: 2px;
}

.text-click-delete:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}
